spring:
  application:
    name: Rating-Service

  datasource:
    url: jdbc:mysql://localhost:3306/rating_service
    name: rating_service
    username: root
    #password: 972114@Ss
    password: root9721
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    database-platform: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: update

server:
  port: 8084

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8080/eureka/
    fetch-registry: true
    register-with-eureka: true
  instance:
    prefer-ip-address: true
